body {
	font-family:'Oxygen';
	font-size: 14px;
}
.row {
	display: -ms-flexbox;
	display:-webkit-flex;
	display:flex;
	height:30px;
	-ms-flex-align: center;
	align-items: center;
}
zdk-modal div.box {
	box-sizing: border-box;
	width:100%; height: 100%;
	background: white;
	border:1px solid #ccc;
	overflow: auto;
	border-radius:10px;
	box-shadow: 2px 2px 10px #999;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
div.box > header {
	font-size: 1.2em;
	padding-left: 10px;
	height: 40px;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	background: black;
	color: white;
}
div.box > div.content {
	padding:10px;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	overflow: auto;
}
div.box > footer {
	font-size: 1em;
	padding: 0px 10px;
	height: 40px;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	background: #ccc;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
input {
	padding:5px;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:1em;
}
button {
	background: dodgerblue;
	color: white;
	border: none;
	height: 30px;
	min-width: 75px;
	font-size: 1em;
	border-radius: 5px;
	margin: 0px 5px;
}
.green { background: #44e320 }
.red { background: #ff2437 }
textarea {
	width:100%;
	font-size: 1em;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
	box-sizing: border-box;
}
form label {
	display:inline-block;
	width:100px;
}
